#Sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    overflow-y: auto;
    background-color: aliceblue;
    list-style: none;
    padding: 10px 10px 80px 10px;
}

#Sidebar .sideItem{
    font-size: 14px;
    transition: all 100ms ease-in;
    cursor: pointer;
}


#Sidebar li:hover{
    background-color: rgb(227, 227, 227);
    border-radius: 15px;
}


.icon{
    margin-right:10px;
}

#spanSidebar{
    color: grey;
    margin-left: 10px;
}

@media (max-width: 950px){
    #Sidebar{
        display: none;
    }
}

ul{
    cursor: pointer;
}

.dropdown li{
    padding: 10px 30px;
    background-color: aliceblue;
    transition: all 300ms ease-in-out;
}

.sidebar-item{
    display: flex;
    justify-content:space-between;
    padding: 10px 30px;
    border-radius: 10px;
}

.sidebar-item:hover{
    background-color:rgb(165, 165, 165);
    transition: all 300ms ease-in;
}